body {
    background-color: rgb(228, 228, 228); 
    background-position: center center;
    margin: 0;
    padding: 0;
    -ms-overflow-style:none;
    overflow-x: hidden;    
}

::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-button {
    display: none;
}