body {
    background-color: #006266;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('./images/ConstructionSymbols.svg');
    min-width: 380px;
    height: 100vh;
    -ms-overflow-style:none;
}

::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-button {
    display: none;
}